*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

/* Root here */

:root { 
    --font-color--1:#0A0904;
    --font-color-2:#ED5226;
    --color-white:#FFFFFF;
    --font-color-3:#FFC428;
    --font-color-4:#828282;
    --font-color-5:#010D23;
}


body {
    font-family: Comfortaa;
}

.sticky {
    position: fixed;
    width: 100%;
}



/* Header Main Start */

.header {
    background-color: var(--color-white);
    border-bottom:2px solid #FFC428 ;
    z-index: 2;
}


.container {
    width: 1400px;
    padding-left: 124px;
    padding-right: 124px;
    margin: 0 auto;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-menu {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 45px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    
}

.nav-list-item {
    list-style-type: none;
    width: 126px;
    height: 78px;
    padding: 30px 0px;
    text-align: center;
    align-items: center;
}

.nav-list-item-last {
    list-style-type: none;
    padding: 30px 0px;
    align-items: center;
    text-align: center;
    width: 155px;
    height: 48px;
    margin-left: 10px;
}

.nav-list-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 1.12;
    color: var(--font-color--1);
    font-weight: 400;
    transition: 0.5s;
    
}


.nav-list-link:hover,
.nav-list-link:focus,
.nav-list-link:active {
    color: var(--font-color-2);
    font-size: 19px;    
    
}





.header-menu-btn {
    display: flex;
    flex-direction: row;
}

.lng-setting {
    text-decoration: none;
    font-size: 16px;
    line-height: 1.12;
    font-weight: 400;
    color: var(--font-color--1);
    margin-right: 92px;
}

.header-menu-list { 
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-lng { 
    list-style-type: none;
}

.lng-setting:hover,
.lng-setting:focus {
    color: var(--font-color-2);
    transition-duration: 500ms;
}


.header-btn {
    letter-spacing: 0.01em;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.08;
    color: var(--font-color--1);
    border: 2px solid #ED5226;
    border-radius: 34px;
    padding: 12px 36px;
    background-color: var(--color-white);
    transition: 500ms;
    font-family: Comfortaa;
    list-style-type: none;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin: 1px;
}

.header-btn-link {
    text-decoration: none;      
    color: var(--font-color--1);
    width: 195px;
    letter-spacing: 0.01em;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.08;

}

.header-btn span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--font-color-3);
    transform: translateY(150%);
    border-radius: 50px;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
    margin: 0 auto;
    padding: 0;
}

.header-btn:hover {
    cursor: pointer;
    border: 2px solid var(--font-color-3);
}

.header-btn:hover span {
    transform: translateY(0) scale(2);
}

.header-btn span:nth-child(1) {
    --n: 1;
}

.header-btn span:nth-child(2) {
    --n: 2;
}

.header-btn span:nth-child(3) {
    --n: 3;
}

.header-btn span:nth-child(4) {
    --n: 4;
}
/* header Main End */

/* Hero Section Start */

.backgr {
    background-image: url();
    background-repeat: no-repeat;
    max-width: 100%;
    margin-top: -1px;

}

.hero {
    padding-top: 149px;
    display: block;

}



.hero-item {
    

}

.container-for-hero {
    width: 1400px;
    padding-left: 124px;
    padding-right: 28px;
    margin: 0 auto;
    

}

.hero-container {
    display: flex;

}

.hero-title {
    font-size: 92px;
    line-height: 1;
    margin-bottom: 36px;
    font-weight: 700;
    letter-spacing: 0.04em;
    color: var(--font-color-3);
    width: 716px;
    margin-top: 80px;
}

.logo-color {
    color: var(--font-color-2);
}

.hero-subtitle {
    font-size: 40px;
    line-height: 1.125;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: var(--font-color-4);
    margin-bottom: 44px;
}
.hero-btn-list {}

.hero-btn {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.125;
    color: var(--font-color--1);
    border: 2px solid #ED5226;
    border-radius: 34px;
    padding: 19px 37px;
    background-color: var(--color-white);
    transition: 500ms;
    font-family: Comfortaa;
    list-style-type: none;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin: 1px;
    width: 300px;
    height: 56px;
    margin-top: 32px;
    margin-bottom: 183px;
}

.hero-btn-link {
    text-decoration: none;
    color: var(--font-color--1);
    letter-spacing: 0.01em;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1;
    display: flex;
    align-items: center;
    text-align: center;



}

.hero-btn span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--font-color-3);
    transform: translateY(150%);
    border-radius: 50px;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
    margin: 0 auto;
    padding: 0;
}

.hero-btn:hover {
    cursor: pointer;
    border: 2px solid var(--font-color-3);
}

.hero-btn:hover span {
    transform: translateY(0) scale(2);
}

.hero-btn span:nth-child(1) {
    --n: 1;
}

.hero-btn span:nth-child(2) {
    --n: 2;
}

.hero-btn span:nth-child(3) {
    --n: 3;
}

.hero-btn span:nth-child(4) {
    --n: 4;
}




.hero-text {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.3;
    color: var(--font-color--1);
}


.hero-container {}

.hero-animation-container {
    margin-top: 50px;
    width: 575px;
    height: 575px;
}

.hero-svg-animation {}

.circle1 {
    animation: myAnim 16s infinite linear;
    transform-origin: 50% 50%;
}

@keyframes myAnim {
    to {
        transform: rotate(360deg);
    }
}

.circle2 {
    animation: myAnim2 12s infinite linear reverse;
    transform-origin: 50% 50%;
}




@keyframes myAnim2 {

    from {
    }
    to {
        transform: rotate(360deg);
    }
}

.circle3 {
    animation: myAnim3 14s infinite linear;
    transform-origin: 50% 50%;
}

@keyframes myAnim3 { 
    to {
        transform: rotate(360deg);
    }
}

.hero-svg-icon {
    
}





/* Hero Section End */

.our-services {
    padding-top: 86px;
    padding-bottom: 242px;
}

.container-services {
    max-width: 1400px;
    padding: 0px 375.5px 0px 375.5px;
    display: flex;
    flex-direction: row;
}

.our-services-block {}


.our-services-title-block {
    width: 473px;
    margin-left: 100px;
}

.our-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 1.1;
    color: var(--font-color--1);
    text-shadow: -3px 3px 0px #FFC428;

}

.services-list {
    margin: 64px 0px 0px 100px;
    width: 380px;
}


.services-item {
    list-style-type: none;
    margin-bottom: 34px;
}


.services-link {
    text-decoration: none;
    color: var(--font-color--1);
    font-weight: 700;
    font-size: 15px;
    line-height: 13px;
    align-items: center;
    display: flex;
    transition: 0.5s;
    flex-direction: row;
    gap: 24px;
}

.srv-img {
    opacity: 1;
}

.srv-img:hover{
    opacity: 1;
}

.services-link:focus,
.services-link:hover {
    color: var(--font-color-3);
    font-size: 20px;
}

.services-info {    
    width: 540px;
    height: 480px;
    padding: 50px 50px;
    display: none;
    margin-top: 70px;
    background-image: url(/img/11111111111.svg);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transform: translateY(20px);
    opacity: 0;
}



.services-text-block {
    width: 540px;
    margin-top: 70px;
    margin-left: 12px;
}

.services-info-tittle{
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: var(--font-color--1);
    margin-bottom: 24px;
}

.services-infotext {
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    color: var(--font-color--1);
    width: 540px;
}


.services-info-img{
    
}

.services-img-block-UXUI {
    margin-left: 20px;
}

.services-img-block-front {
    margin-left: 49px;
}

.services-img-block-back {
    margin-left: 130px;
}
.services-img-block-mobile {
    margin-left: 110px;
}

.company {}
    
.container {}
    
.company-tittle {
    font-weight: 700;
    font-size: 64px;
    line-height: 1.1;
    color: var(--font-color--1);
    text-shadow: -3px 3px 0px #FFC428;
    margin-left: 100px;
}

.company-subtitle {
    font-size: 16px;
    font-weight: 300;
    color: var(--font-color-5);
    line-height: 1.6;
    margin-left: 100px;
    margin-top: 32px;

}

.span-color {
    color: #ED5226;
}
